---
---

@import "{{ site.theme }}";

// Light grey: #ececec
// Charcoal grey: #33383D
// White
// Vibrant teal (#00B3A4 or similar)
// Accent (optional): Soft teal or mint for subtle highlighting

.body-content {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.default {
    background-color: #ececec;
}

.main-content {
  max-width: none;
  width: 100%;
  padding: 4rem;
  margin: 0;
  font-size: 1.1rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: 	#33383D;
}

/* Top bar */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  background: transparent;  // transparent as requested
  z-index: 1000;
}

.top-nav .brand {
  text-decoration: none;
  font-size: 18pt;
  color: #33383D;
}

.top-nav-menu a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #33383D;
}

.top-nav-menu a.active {
  text-decoration: underline;
}

.homepage .top-nav .brand {
    color: white;
}

.homepage .top-nav-menu a {
    color: white;
}

/* Hero on homepage */
.hero {
  padding-top: 8rem;
  padding-bottom: 5rem;
  text-align: center;
  color: white;
  background-image: url("/assets/images/hero-banner.png");
    /* "https://images.squarespace-cdn.com/content/v1/693f17274c45ce6d5d178077/1755197346.114838-VDNXHCKGSNBMXCAPTXUV/imgg-od3-h2rju4hb.png");
    */
}

.project-name{
    width: 60%;
    margin: auto;
    font-weight: normal;
}

.hero-btn {
  margin-top: 2rem;
  border-radius: 2rem;
  /*background-color: rgb(58, 48, 48);*/
  background-color: #33383D;
}
.hero-btn:hover {
    /*background-color: rgb(84, 71, 71);*/
    background-color: #44494f;
}