---
layout: default
title: Blog
permalink: /blog/
class: default
---

<section class="blog-overview">
  <h1>Blog</h1>
  <div class="blog-intro-text">
    I write about personal development, leadership, organisational design, high-impact communication and technology.
  </div>

  <ul class="blog-list">
    {% for post in site.posts %}
      <li class="blog-card">
        <a class="blog-card-link" href="{{ post.url | relative_url }}">
          <div class="blog-card-image">
            {% if post.image %}
              <img src="{{ '/assets/images/blogposts/' | append: post.image | relative_url }}" alt="{{ post.title }}">
            {% endif %}
          </div>
          <div class="blog-card-content">
            <p class="blog-card-date">{{ post.date | date: "%b %d, %Y" }}</p>
            <h2 class="blog-card-title">{{ post.title }}</h2>
            {% if post.preview_text %}
              <p class="blog-card-preview">{{ post.preview_text }}</p>
            {% endif %}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
